## Data Filteration & Selection

In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame

In [10]:
df = pd.DataFrame(np.arange(0, 90,3).reshape(10,3), index = [f'row {i}' for i in range(1, 11)], columns = [f'C{i}' for i in range(1, 4)])
df

        C1  C2  C3
row 1    0   3   6
row 2    9  12  15
row 3   18  21  24
row 4   27  30  33
row 5   36  39  42
row 6   45  48  51
row 7   54  57  60
row 8   63  66  69
row 9   72  75  78
row 10  81  84  87

### Indexing

Indexing could be used to get values or set new values.  
  
**Methods of indexing:**
- **Normal**  
- **Boolean**
- **Fancy**

#### **Normal**  

for single value: dataframe.iloc[row, column]  

for multiple values: dataframe.iloc[[row1, row2, ..], [col1, col2, col3, ...]]

In [15]:
df.iloc[0, 2]

np.int64(6)

In [16]:
df.iloc[0, 2] = 55
df

        C1  C2  C3
row 1    0   3  55
row 2    9  12  15
row 3   18  21  24
row 4   27  30  33
row 5   36  39  42
row 6   45  48  51
row 7   54  57  60
row 8   63  66  69
row 9   72  75  78
row 10  81  84  87

In [18]:
df.iloc[[2,6,8],[0,1]]

       C1  C2
row 3  18  21
row 7  54  57
row 9  72  75

#### Boolean

Uses comparison operators and masking to filter the dataframe.

Using the operators, a boolean dataframe is returned which is used as a mask.